.index.body {
    background-color: #000;
  }
 /* Custom styles for the navbar toggler */
 .custom-toggler {
  border-color: #f00; /* Change border color */
  background-color: #f00; /* Change background color */
}

/* Media query for smaller devices like smartphones */
@media (max-width: 768px) {
  .custom-toggler {
    border-color: #00f; /* Change border color for smaller screens */
    background-color: #00f; /* Change background color for smaller screens */
  }
}
img {
  max-width: 100%;
  height: auto;
}

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .form-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .form-container h1 {
    margin-top: 0;
  }

  .form-container form {
    margin-bottom: 20px;
  }

  .form-container button {
    margin-top: 10px;
  }

  .menu-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
  }

  .menu-container h1 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .menu-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu-container ul li {
    margin-bottom: 10px;
  }

  .menu-container ul li a {
    color: rgb(54, 164, 160);
    text-decoration: none;
  }

 