.index.body {
    background-color: #000;
  }

/* Media query for smaller devices like smartphones */
@media (max-width: 768px)  {
  .custom-toggler {
    border-color: #00f; /* Change border color for smaller screens */
    background-color: #00f; /* Change background color for smaller screens */
  }
}
img {
  max-width: 100%;
  height: auto;
}

 