<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
       <p>Home</p>
        <h1><a href={{url_for('supplier')}}>Display Supplier</a></h1>
        
        <h1><a href={{url_for('vehicles')}}>Display Vehicles</a></h1>
        
        <h1><a href={{url_for('sales')}}>Manager sales</a></h1>
        
        <h1><a href={{url_for('maintenance')}}>Manager maintenance/Services</a></h1>
        <h1><a href={{url_for('get_new_supplier_details')}}>Enter new supplier details</a></h1>
        <h1><a href={{url_for('get_new_vehicles_details')}}>Enter new vehicles details</a></h1>
        <h1><a href={{url_for('get_new_maintenance_details')}}>Enter new Maintenance details</a></h1>
 

 
</body>
</html>