<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p>Home</p>
        <h1><a href={{url_for('supplier')}}>Supplier</a></h1>
        
        <h1><a href={{url_for('vehicles')}}>Manager Vehicles</a></h1>
        
        <h1><a href={{url_for('sales')}}>Manager sales</a></h1>
        
        <h1><a href={{url_for('maintenance')}}>Manager maintenance/Services</a></h1>
 
 
</body>
</html>