<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/insert_new_maintenance" method="post">
        <input type="text" name="vehicle_id" placeholder="ID">
        <input type="text" name="registration_number" placeholder="REGISTRATION">
        <input type="text" name="date_performed" placeholder="Date_Permormed">
        <input type="text" name="task_to_be_performed_Services" placeholder="to do be">
        <input type="text" name="performed_by" placeholder="performed BY">
        <input type="text" name="validate_by" placeholder="validate_By">
        <input type="text" name="material" placeholder="Material">
        <input type="text" name="labor" placeholder="Labor">
        <input type="text" name="total" placeholder="Total">
        <input type="submit" value="Services/create">

</body>
</html>