{% extends "base.html" %}

{% block content %}
 <!-- This block overrides the "content" block from the base template. -->

  <div class="container">
    <div class="form-container">    <!-- A container for the form. -->
      <h1 class="mb-4">Insert Maintenance Data</h1>   <!-- Heading for the form. -->

       <form action="/insert_new_maintenance" method="post">  <!-- Form for inserting maintenance data. Posts to "/insert_new_maintenance" URL. -->
          <div class="mb-3">
          <label for="vehicle_Id" class="form-label">Vehicle ID</label>
          <input type="text" class="form-control" id="vehicleId" name="vehicle_id" placeholder="ID">
        </div> 
        <div class="mb-3">
          <label for="registrationNumber" class="form-label">Registration Number</label>
          <input type="text" class="form-control" id="registrationNumber" name="registration_number" placeholder="Registration">
        </div>
        <div class="mb-3">
          <label for="datePerformed" class="form-label">Date Performed</label>
          <input type="date" class="form-control" id="datePerformed" name="date_performed" placeholder="Date Performed">
        </div>
        <div class="mb-3">
          <label for="task_to_be_performed_services" class="form-label">Task to be Performed</label>
          <input type="text" class="form-control" id="taskPerformed" name="task_to_be_performed_services" placeholder="Task to be Performed">
        </div>
        <div class="mb-3">
          <label for="performedBy" class="form-label">Performed By</label>
          <input type="text" class="form-control" id="performedBy" name="performed_by" placeholder="Performed By">
        </div>
        <div class="mb-3">
          <label for="validateBy" class="form-label">Validated By</label>
          <input type="text" class="form-control" id="validateBy" name="validate_by" placeholder="Validated By">
        </div>
        <div class="mb-3">
          <label for="material" class="form-label">Material</label>
          <input type="text" class="form-control" id="material" name="material" placeholder="Material">
        </div>
        <div class="mb-3">
          <label for="labor" class="form-label">Labor</label>
          <input type="text" class="form-control" id="labor" name="labor" placeholder="Labor">
        </div>
        <div class="mb-3">
          <label for="total" class="form-label">Total</label>
          <input type="text" class="form-control" id="total" name="total" placeholder="Total">
          <!-- More form fields for entering maintenance data... -->
        </div>
        <button type="submit" class="btn btn-primary btn-primary-custom">Services/Create</button>
         <!-- Submit button for the form. -->
        <br>
        <!-- Button to navigate back to the menu using the "url_for" function. -->
        <a href="{{url_for('index')}}" class="btn btn-primary btn-primary-custom">Go to Menu</a>
      </form>
    </div>
  </div>

{% endblock %}