<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <form action="/insert_new_vehicles" method="post">
             <input type="text" name="registration_number" placeholder="REGISTRATION">
             <input type="text" name="brand" placeholder="brand">
             <input type="text" name="model" placeholder="model">
             <input type="text" name="color" placeholder="color">
             <input type="text" name="Price_money" placeholder="Price_money">
             <input type="text" name="car_year" placeholder="car_year">
             <input type="text" name="On_stock_from" placeholder="On_stock_from">
             <input type="text" name="available" placeholder="available">
             <input type="submit" value="create">
     

</body>
</html>