<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    
</head>
<body>

    <form action="/insert_new_supplier" method="post">
       <!-- <input type="text" name="SUPPLIER ID" placeholder="name"> -->
        <input type="text" name="Company Name" placeholder="Company Name">
        <input type="text" name="Address" placeholder="Addess">
        <input type="text" name="Mobile Phone" placeholder="number">
        <input type="text" name="Email Address" placeholder="email">
        <input type="text" name="contact Name" placeholder="name">
        <input type="text" name="VAT" placeholder="Vat">
        <input type="submit" value="create">

    </form>
</body>
</html>