{% extends "base.html" %}

{% block content %}

<!-- This section extends the "base.html" template and defines the content block. -->

    <div class="container">     <!-- This is a Bootstrap container to center-align the form content. -->
        <form action="/create" method="post">   <!-- This form sends data to the "/create" URL using the HTTP POST method. -->

            <div class="mb-3">   <!-- This is a form group for the "Supplier ID" input field. -->
                <label for="supplierId" class="form-label">Supplier ID</label>
                <input type="text" class="form-control" id="supplierId" name="supplierId" placeholder="Supplier ID">
            </div>   <!-- This input field allows users to enter the supplier's ID. -->
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Address">
            </div>
            <div class="mb-3">
                <label for="mobilePhone" class="form-label">Mobile Phone</label>
                <input type="text" class="form-control" id="mobilePhone" name="mobilePhone" placeholder="Mobile Phone">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
            </div>
            <div class="mb-3">
                <label for="contactName" class="form-label">Contact Name</label>
                <input type="text" class="form-control" id="contactName" name="contactName" placeholder="Contact Name">
            </div>  <!-- This button submits the form data to create a new entry. It has a custom style defined by the "btn-primary-custom" class. -->
            <button type="submit" class="btn btn-primary btn-primary-custom">Create</button>
        </form>
    </div>

{% endblock %}