<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sales Form</h1>
    <form action="/insert_new_sales" method="POST">
        <table>
            <tr>
                
                <th>Sale Employee Number</th>
                <th>New Car Brand</th>
                <th>Used Car Brand</th>
                <th>Number of New Cars Sold</th>
                <th>Number of Used Cars Sold</th>
                <th>Profit From New Cars</th>
                <th>Profit From Used Cars</th>
                <th>Profit</th>
                <th>Vehicle Category</th>
            </tr>
            <tr>
                
                <td><input type="text" name="sale_employee_number"></td>
                <td><input type="text" name="new_car_brand"></td>
                <td><input type="text" name="used_car_brand"></td>
                <td><input type="text" name="number_of_new_cars_sold"></td>
                <td><input type="text" name="number_of_used_cars_sold"></td>
                <td><input type="text" name="profit_from_new_cars"></td>
                <td><input type="text" name="profit_from_used_cars"></td>
                <td><input type="text" name="Profit"></td>
                <td><input type="text" name="vehicle_category"></td>
            </tr>
        </table>
        <button type="submit">Submit</button>
    </form>
    <br>
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Go to Menu</a>
</body>
</html>
