<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
        
        <tbody> 
        
        {% for row in data %}
        
        
        
        <th> Search registration_number</th>
        
        <th>search maintenance/services</th>
        
        <th>Search model</th>
        
        <th>Search Year</th>

        <th>Search Date</th>

        <th>Update</th>
        <th>Delete</th>
        <th>Print</th>

        <!-- <td>{{ row[0] }}   </td>
        
        <td>{{  row[1] }}</td>
        
        <td>{{  row[2] }}</td>
        
        <td>{{  row[3] }}</td>
        <td>{{  row[4] }}</td>
        <td>{{  row[5] }}</td>
        <td>{{  row[6] }}</td>
        
         -->
        
        {% endfor %}
        
    </table>

</body>
</html>