<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table>
            <tr>
              <th>Company ID</th>
              <th>Company Name</th>
              <th>ADDRESS</th>
              <th>Mobile Number</th>
              <th>EMAIL ADDRESS</th>
              <th>CONTACT NAME</th>
              <th>VAT</th>

              
            </tr>
            {% for column in list_of_supplier %}
            <tr>           
            <td>{{column[0]}}</td>
            <td>{{column[1]}}</td>
            <td>{{column[2]}}</td>
            <td>{{column[3]}}</td>
            <td>{{column[4]}}</td>
            <td>{{column[5]}}</td>
            <td>{{column[6]}}</td>
            </tr>
            {% endfor %}
           

        </table>
     </div> 
        
  <div>
  <div class="form-check d-flex justify-content-center mb-4">
    <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked />
    <label class="form-check-label" for="form6Example8"> update/add </label>
    </div>

    <!-- Submit button -->
     <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
    
     <div class="form-check d-flex justify-content-center mb-4">
        <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked />
        <label class="form-check-label" for="form6Example8"> Delete </label>
        </div>
    
        <!-- Submit button -->
         <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
    

   <button  class="btn btn-primary btn-block mb-4" href="{{url_for('index')}}">go to menu</button>

</div>
</body>
</html>