
{% extends "base.html" %}

{% block content %}
    <!-- Main content container -->
    <div class="container">
        <!-- Table to display supplier data -->
        <table>
            <!-- Title for supplier data section -->
            <h1 class="text-center mb-4 row justify-content-center">SUPPLIER DATA</h1>
            
            <!-- Form for searching suppliers -->
            <form action="{{ url_for('supplier') }}" method="POST">
                <div class="form-group">
                    <label for="search">Search for supplier:</label>
                    <input type="text" name="search" id="search" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary btn-primary-custom">Search</button>
            </form>
            
            <!-- Display flashed messages if any -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h1>{{ message }}</h1>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <!-- Table header columns -->
            <tr>
                <th>Company ID</th>
                <th>Company Name</th>
                <th>Address</th>
                <th>Mobile Number</th>
                <th>Email Address</th>
                <th>Contact Name</th>
                <th>VAT</th>
            </tr>

            <!-- Loop through supplier data and display each row -->
            {% for column in list_of_suppliers %}
                <tr>
                    <td>{{ column[0] }}</td>
                    <td>{{ column[1] }}</td>
                    <td>{{ column[2] }}</td>
                    <td>{{ column[3] }}</td>
                    <td>{{ column[4] }}</td>
                    <td>{{ column[5] }}</td>
                    <td>{{ column[6] }}</td>

                    <!-- Action buttons for update, delete, and print -->
                    <td><a href="{{ url_for('update_supplier', supplier_id=column[0]) }}" class="btn btn-primary btn-primary-custom">Update</a></td>
                    <td><a href="{{ url_for('delete_supplier', supplier_id=column[0]) }}" class="btn btn-primary btn-primary-custom">Delete</a></td>
                    <td><a href="{{ url_for('print_supplier', supplier_id=column[0]) }}" class="btn btn-primary btn-primary-custom">Print</a></td>
                </tr>
            {% endfor %}
        </table>  
        
        <!-- Button to add a new supplier -->
        <a href="{{ url_for('get_new_supplier_details') }}" class="btn btn-primary btn-primary-custom">Add New Supplier</a>
        
        <br>
        
        <!-- Button to navigate back to the menu -->
        <a href="{{ url_for('index') }}" class="btn btn-primary btn-primary-custom">Go to Menu</a>
    </div>

{% endblock %}
