<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        a.btn {
            margin-top: 20px;
        }

        form {
            display: inline-block;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <table>
          <h1 class="text-center mb-4 row justify-content-center">Supplier  data</h1>
            <tr>
                <th>Company ID</th>
                <th>Company Name</th>
                <th>Address</th>
                <th>Mobile Number</th>
                <th>Email Address</th>
                <th>Contact Name</th>
                <th>VAT</th>
                

            </tr>

            {% for column in list_of_suppliers %}
            
            <tr>
                <td>{{ column[0] }}</td>
                <td>{{ column[1] }}</td>
                <td>{{ column[2] }}</td>
                <td>{{ column[3] }}</td>
                <td>{{ column[4] }}</td>
                <td>{{ column[5] }}</td>
                <td>{{ column[6] }}</td>
                
            </tr>

      
      {% endfor %}
    
    </table>  
    
      <br>

        <a href="{{ url_for('index') }}" class="btn btn-primary">Go to Menu</a>


    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.
